.menu__botao {
    display: none;
} 

.menu__botao:checked~.menu__itens{
    display: inline-flex;
    align-items: stretch;
}

.menu__botao:checked + label .menu__itens--mobile{
    z-index: 3;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-image: url(../../../img/X.svg);
    background-repeat: no-repeat;
}