.menu__buscar {
    display: flex;
    font-family: var(--inter);
    gap: 1rem;
}

.menu__buscar.botao {
    height: 38px;
    box-sizing: border-box;
    background-color: inherit;
    color: var(--branco);
    border: 1px solid var(--branco);
    padding: 9px 12px;
}

.menu__buscar.pesquisar {
    width: 170px;
    height: 18px;
    padding: .5rem 1rem;
}


@media screen and (max-width:768px){
    .menu__buscar {
        font-size: 13px;
        justify-content: space-between;
    }
    .menu__buscar.pesquisar{
        padding: .44rem .60rem .69rem .4rem;
        width: 145px;
    }
}

@media screen and (min-width:768px){
}