.produtos__tipo{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 1rem;
    font-size: 13px;
}

.produtos__tipo>.produto__card__detalhes--entrega{
    font-weight: 400;
    color: var(--cinza--separador);
}

.produtos__tipo>p{
    font-weight: 700;
}
.produtos__tipo>.separador{
    border-color: var(--cinza--separador);
}