.cabecalho__logo{
    background-image: url(../../img/Desktop/Logo\ desktop.png);
    background-size: contain;
    position: inherit;
    background-repeat: no-repeat;
    min-height: 2rem;
    display: inline-block;
    background-position: center;
}

@media screen and (min-width:0px){
    .cabecalho__logo{
        min-width: 124px;
        }

}

@media screen and (min-width:768px){
    .cabecalho__logo{
        min-width: 100px;
        }

}

@media screen and (min-width:1280px){
    .cabecalho__logo{
    min-width: 132px;
    }
}