.conteudo__titulos {
    font-family: var(--inter);
    text-align: center;
    font-weight: 500;

}
@media screen and (min-width: 0px) {
    .conteudo__titulos{
        font-size: 28px;
}
}

@media screen and (min-width: 1280px) {
    .conteudo__titulos{
        font-size: 2rem;
}
}