.cabecalho {
    background-color: var(--preto);
    position: relative;
    padding: 0.75rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px){
    .cabecalho{
        padding: 0.44rem 1.5rem;
    }
}