.facilidades{
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--inter);
}

@media screen and (min-width: 0px){
    .facilidades{
        padding: 2rem 1rem;
    }
}

@media screen and (min-width: 768px){
    .facilidades{
        padding: 2.5rem;
    }
}

