.produtos__grade--admin.editar,.produtos__grade--admin.criar {
        margin: 0 0
    }

.formulario__produto>input,.formulario__produto>textarea, .formulario__produto>select{
        width: 80%;
        color: var(--preto); 
        padding: .5rem 1rem; 
        font-weight: 700;
    }

@media (width >= 768px) {
    .produtos__grade--admin.editar,.produtos__grade--admin.criar {
        margin: 0 15%
    }
    .formulario__produto>input,.formulario__produto>textarea, .formulario__produto>select{
        width: 70%;
    }
}

.formulario__produto {
    font-weight: 500;
    color: var(--branco);
    background-color: var(--cor--formulario);
    text-align: center;
    margin-top: 2.25rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__produto label{
    margin: 1rem 0 .5rem;
}

.formulario__produto select{
    width: 66%;
}

.formulario__produto #imagem{
    margin-bottom: 1.5rem;
} 
