.modal{
    padding: 0;
    border: 0;
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(44, 63, 88, 0.35);
}
.modal::backdrop {
    background: rgba(0, 0, 0, .7);
  }

@media (width >= 768px) {
    .modal{
        width: 100%;
    }
}