:root {
    --inter: 'Inter', sans-serif;

    --preto: #000000;
    --branco: #FFFFFF;
    --cinza: #CCCCCC;
    --cinza--separador: #D8D8D8;
    --cinza--menu: #CED4DA;
    --verde: #daff01;
    --roxo: #9353FF;
    --cor--menu: #343A40;
    --cor--formulario: #32383e
}