.tabela tr {
    text-align: center;
}

.tabela td {
    text-align: center;
    border-bottom: 3px solid var(--preto);
    vertical-align: middle;
    padding: 1rem 0 ;
}

.produtos__lista:last-child td {
    border: none;
}

.tabela td:has(img) {
        padding: 0;
}

.tabela td img{
    max-width: 5rem;
} 

.tabela {
    margin-top: 2.25rem;
    width: 100%;
    background-color: var(--cinza);
    border-radius: 10px;
    box-shadow: var(--preto);
    border-collapse: initial;
    text-align: left;
}

.tabela thead {
    font-size: 1.25rem;
    font-weight: 700;
}

.tabela th {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid var(--cor-secundaria);
}

.tabela__coluna {
    width: 20%;
} 

td.td{
    font-weight: 700;
    padding: 1rem;
}

.tabela__botoes-controle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
}

.tabela__botoes-controle li:first-of-type {
    margin-right: 1.25rem;
} 